.header {
  width: 100%;
  h1, h2 {
    margin: 0;
    text-align: center;
    font-family: $josephin;
    font-size: 34px;
    @media screen and (max-width: 465px) {
      font-size: 27px;
    }
  }
  .header_holder {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    h1 {
      font-size: 46px;
      margin-bottom: -1px;
      text-decoration: underline;
      text-decoration-color: $crimson;
      text-decoration-style: double;
      text-decoration-skip: ink;
      @media screen and (max-width: 465px) {
        font-size: 39px;
      }
      @media screen and (max-width: 320px) {
        font-size: 36px;
      }
    }
  }
  .header_title {
    margin-bottom: 13px;
  }
}
