$white: #fff;
$faded_white: rgba(255,255,255,0.92);
$dark: #031424;
$indigo: #30415D;
$crimson: #CF6766;
$light_blue: #8EAEBD;
$darker_blue: #405b6a;
$josephin: 'Josefin Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
